<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
    <link rel = "stylesheet" href = "./404style.css" >
  </head>
  <body>
    <nav>
    404 not found
    </nav>

    <div class="imagetext">
      <img src="./Scarecrow.png"  >
         <div class="text">
           <h2>I have bad newds for you 🫣 </h2>

           <p>oo chache tumhari aukat nahi</p>
            <a href="https://w7.pngwing.com/pngs/116/616/png-transparent-chimpanzee-showing-his-tongue-out-monkey-chimpanzee-ape-monkey-mammal-animals-terrestrial-animal.png">Back to homepage</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Complete ADMIN Access</a>
         </div>


    </div>



  </body>
</html>
