<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
    <link rel = "stylesheet" href = "./404style.css" >
  </head>
  <body>
    <nav>
    404 not found
    </nav>

    <div class="imagetext">
      <img src="./Scarecrow.png"  >
         <div class="text">
           <h2>I have bad news for you </h2>

           <p>The page you are looking for might be removed or is temporarily unavailable</p>
            <button type="button" name="button" href="home.ejs">Back to homepage</button>
         </div>


    </div>



  </body>
</html>
