<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class = "Loginform">
        <br><br>
        <h1 style="text-align: center;font-size:larger;">Your email has</h1>
        <h1 style="text-align: center;font-size:larger;">been verified</h1>

     <!-- <h1 id="heading">Your email has been verified</h1> -->
    </div>
</body>
</html>