<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
   <div class="Loginformfpass">
    <h1 id="heading">Login in your account</h1>
    <form action="/forget-password" method="post">
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter New Password" required>
        </div>
            <input type="hidden" name="user_id" value="<%=user_id%>">
            <br>
            <div class = "login-button">
                <input type="submit" class="buttonoriginal" value="Reset Password">
            </div>
    </form>
    
    
   </div>

<% include('../layouts/footer.ejs') %>

